<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/main.css' %}" >
    <title>Maddie's Pics | Home</title>
</head>
<body>
    <nav class="navigation">
        <div class="logo">
            <h1><a href="{% url 'gallery:index' %}">Madison Alexander Photography</a></h1>
        </div>
        <div class="nav-links">
            <ul class="nav-list">
                <li><strong><a href="#">About</a></strong></li>
                <li><strong><a href="#">Gallery</a></strong></li>
                <li><strong><a href="#">Contact</a></strong></li>
            </ul>
        </div>
    </nav>
    <main class="main-view">
        <div class="img-list row">
            <div class="col">
                {% for image in image_list %}
                    <img src="{{ image.image.url }}" alt="{{ image.description }}" class="img-img-list" onclick="openImg(this);">
                {% if forloop.counter|divisibleby:5 %}
                    </div>
                    {% if forloop.counter < 20 %}
                        <div class="col">
                    {% endif %}
                {% endif %}
            {% endfor %}
           </div>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="modal-img">
          <div id="caption"></div>
        </div>
    </main>
</body>


<script>
    function openImg(imgs) {
        modal = document.getElementById('myModal');
        var modalImg = document.getElementById("modal-img");
        modalImg.src = imgs.src;
        modal.style.display = "block";
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>


</html>