<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/main.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'gallery/w3.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="icon" href="{% static 'gallery/images/favicon.ico' %}" type="image/icon">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112410505-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-112410505-1');
    </script>


    <title>MVA Photo |{% block title %} {% endblock %}</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="w3_open()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="{% url 'gallery:gallery' %}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> GALLERY</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    <a href="https://www.instagram.com/mvaphotography1/" class="w3-bar-item w3-button w3-hide-small w3-right"><i class="fa fa-instagram fa-lg"></i></a>
    <a href="https://www.facebook.com/madison.alexander.167/media_set?set=a.698267990339421.1073741829.100004686793691&type=3" class="w3-bar-item w3-button w3-hide-small w3-right"><i class="fa fa-facebook-official fa-lg"></i></a>
  </div>
</div>
<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
    <a href="{% url 'gallery:index' %}#home" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-black">HOME</a>
    <a href="{% url 'gallery:gallery' %}#" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-black">GALLERY</a>
    <a href="{% url 'gallery:index' %}#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-text-grey w3-hover-black">CONTACT</a>
  </div>
</nav>
{% block content %} {% endblock %}


<!-- Footer -->
<footer class="w3-center w3-black">
    <div class="w3-xlarge w3-section">
        <p>Follow Me on Facebook and Instagram!</p>
        <a href="https://www.facebook.com/madison.alexander.167/media_set?set=a.698267990339421.1073741829.100004686793691&type=3"><i class="fa fa-facebook-official fa-lg w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/mvaphotography1/"><i class="fa fa-instagram fa-lg w3-hover-opacity"></i></a>
    </div>
    <div class="w3-padding-32"></div>
    <a href="#home" class="w3-button w3-light-grey w3-margin-top"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div style="margin-top: 8%"><p>Photos &copy; Madison Alexander {% now "Y" %}</p></div>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
</body>
</html>